.fss-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* this is required to keep input and button aligned when wb-error is shown */
}
.fss-form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fss-form-button {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.wb-button--primary.fss-form-button {
  min-width: 25px;
  height: 3.5rem !important;
  /* this is required to align input and button */
}
.wb-button__icon.fss-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0;
}
wb-spinner.fss-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0;
}
@media (max-width: 760px) {
wb-input-control wb-input > label {
    font-size: .75rem;
}
}

.fss-autosuggest {
  position: relative;
}
.fss-page .fss-autosuggest {
    background: #f8f8f8;
}
@media (min-width: 768px) {
.fss-page .fss-autosuggest {
        width: 50%;
}
}
.fss-autosuggest__input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.fss-autosuggest__input-control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
[dir=ltr] .fss-autosuggest__input-control[error] .fss-autosuggest__input-field, [dir=ltr] .fss-autosuggest__input-control[error] .fss-autosuggest__input-label {
  padding-right: 5rem;
}
[dir=rtl] .fss-autosuggest__input-control[error] .fss-autosuggest__input-field, [dir=rtl] .fss-autosuggest__input-control[error] .fss-autosuggest__input-label {
    padding-left: 5rem;
}
[dir=ltr] .fss-autosuggest__input-control[error] .fss-autosuggest__reset-btn {
  margin-right: 2rem;
}
[dir=rtl] .fss-autosuggest__input-control[error] .fss-autosuggest__reset-btn {
    margin-left: 2rem;
}
[dir=ltr] .fss-autosuggest__input-field {
  padding-right: 3rem;
}
[dir=rtl] .fss-autosuggest__input-field {
  padding-left: 3rem;
}
.fss-autosuggest__input-label {
  text-overflow: ellipsis;
}
@media (max-width: 767.98px) {
[dir=ltr] .fss-autosuggest__input-label {
    padding-right: 2.5rem;
}
[dir=rtl] .fss-autosuggest__input-label {
      padding-left: 2.5rem;
}
}
.fss-autosuggest__reset-btn {
  position: absolute;
  top: 1px;
  bottom: 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  color: #767676;
  z-index: 1;
  background: none;
  border: 0;
  padding: 1rem;
}
[dir=ltr] .fss-autosuggest__reset-btn {
  right: 0;
  padding-left: .5rem;
}
[dir=rtl] .fss-autosuggest__reset-btn {
  left: 0;
  padding-right: .5rem;
}
.fss-autosuggest__reset-btn:hover {
    cursor: pointer;
}
.fss-autosuggest__reset-btn > wb-icon {
    width: 1.3rem;
    height: 1.3rem;
}
.fss-autosuggest__search-button {
  min-width: 25px !important;
}
@media (max-width: 1023.98px) {
[dir=ltr] .fss-autosuggest__search-button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
[dir=rtl] .fss-autosuggest__search-button {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
}
}
.fss-search-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0;
}
[dir=ltr] .fss-autosuggest__input-error {
  padding-left: 1rem;
}
[dir=rtl] .fss-autosuggest__input-error {
  padding-right: 1rem;
}
.fss-autosuggest__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
[dir=ltr] .fss-autosuggest__overlay {
  left: 0;
  right: 0;
}
[dir=rtl] .fss-autosuggest__overlay {
  right: 0;
  left: 0;
}
.fss-autosuggest__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: .5rem 0;
}
.fss-autosuggest__item {
  font-size: 1rem;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .25rem 1rem;
}
.fss-autosuggest__item--active {
  background-color: #e5e5e5;
}
@media (max-width: 767.98px) {
wb-input-control wb-input > label {
    font-size: .75rem;
}
}
.fss-autosuggest__item-icon {
  width: 18px;
  height: 18px;
  color: #767676;
}
[dir=ltr] .fss-autosuggest__item-icon {
  margin-right: .7rem;
}
[dir=rtl] .fss-autosuggest__item-icon {
  margin-left: .7rem;
}
.fss-autosuggest__item-remove {
  color: #bfbfbf;
  width: 16px;
  height: 16px;
}
.fss-autosuggest__item-remove:hover {
    color: #767676;
}

.fss-footnotes {
  color: #bfbfbf !important;
  padding-top: 1rem;
  padding-bottom: 6rem;
}
[dir=ltr] .fss-consumption-text {
  padding-left: .5rem;
  padding-right: 1rem;
}
[dir=rtl] .fss-consumption-text {
  padding-right: .5rem;
  padding-left: 1rem;
}
.fss-footnotes-text {
  padding-top: 1rem;
}
.fss-footnotes-text .wb-type-hint {
    margin-bottom: 0.5em;
}
.fss-footnotes-text sub {
    vertical-align: baseline;
    position: relative;
    top: 0.4em;
}
.fss-footnotes-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 760px) {
.fss-footnotes-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
[dir=ltr] .fss-footnotes-row {
    padding-left: .5rem;
}
[dir=rtl] .fss-footnotes-row {
    padding-right: .5rem;
}
.fss-footnotes-col {
    padding-bottom: 1rem;
}
}

.fss-progress-page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fss-progress-bar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
wb-bar-loader.fss-bar-loader-small {
  width: 15%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.fss-emissions {
  color: #bfbfbf;
  padding-top: 1rem;
}
.fss-emissions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1rem;
}
@media (min-width: 768px) {
.fss-emissions__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
}
}
.fss-emissions__item {
  width: 50%;
  display: inline-block;
  padding: 0.25rem;
}
[dir=ltr] .fss-emissions__item:first-child {
  padding-left: 0;
}
[dir=rtl] .fss-emissions__item:first-child {
    padding-right: 0;
}
[dir=ltr] .fss-emissions__item:last-child {
  padding-right: 0;
}
[dir=rtl] .fss-emissions__item:last-child {
    padding-left: 0;
}
@media (min-width: 768px) {
.fss-emissions__item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 !important;
}
}
.fss-emissions__title {
  color: #e5e5e5;
}
@media (min-width: 768px) {
.fss-emissions__title {
      padding-bottom: 0.125rem;
}
}
.fss-emissions-icon {
  height: 0.7rem;
  vertical-align: middle;
}
.fss-emissions-sup {
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
  font-size: x-small;
}

.fss-results-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 768px) {
.fss-results-row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
}
}
.fss-results-col-75 {
  padding: 1rem;
}
@media (min-width: 768px) {
.fss-results-col-75 {
      -webkit-box-flex: 75%;
          -ms-flex: 75%;
              flex: 75%;
      padding: 1.25rem;
}
}
.fss-results-col-25 {
  background-color: white;
}
@media (min-width: 768px) {
.fss-results-col-25 {
      -webkit-box-flex: 25%;
          -ms-flex: 25%;
              flex: 25%;
      padding: 1.25rem;
      background-color: unset;
}
}
.fss-results em {
  font-weight: bold;
}
.fss-result-title {
  color: #00adef;
}
.fss-result-title em {
    color: #57cdf5;
}
.fss-result-title > a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-bottom: .25rem;
}
[dir=ltr] .fss-result-title > a {
  margin-right: 1rem;
}
[dir=rtl] .fss-result-title > a {
    margin-left: 1rem;
}
.fss-result-title > a:hover {
      -webkit-box-shadow: inset 0 -5px #262626, inset 0 -6px #00adef;
      background-size: 1px 1em;
              box-shadow: inset 0 -5px #262626, inset 0 -6px #00adef;
}
[dir=ltr] .fss-result-title > a:hover {
  text-shadow: -1px 1px #262626, 1px 1px #262626;
}
[dir=rtl] .fss-result-title > a:hover {
      text-shadow: 1px 1px #262626, -1px 1px #262626;
}
.fss-result-url {
  display: none;
}
.fss-result-url em {
    color: #f4f4f4;
}
@media (min-width: 768px) {
.fss-result-url {
      display: inline;
      color: #bfbfbf;
      line-height: 1.25rem;
      text-decoration: none;
}
.fss-result-url:hover {
        text-decoration: underline;
}
}
.fss-snippet-text {
  color: #f4f4f4;
  padding-top: 0.75rem;
}
@media (min-width: 768px) {
.fss-snippet-text {
      padding-top: 1.25rem;
}
}
.fss-space-m {
  margin-bottom: 2.25rem;
}

.fss-tiles-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fss-tiles-row .fss-tile-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  /*grow | shrink | basis */
  margin: 1rem .25em;
}
.fss-tile-content {
  padding: 1rem;
}
.fss-tile-img {
  background-color: white;
}
@media (max-width: 700px) {
.fss-tiles-row {
    display: block;
}
}
.fss-highlight /deep/ em {
  color: #00adef !important;
}
.fss-snippet-text {
  color: #f4f4f4;
  padding-top: 1rem;
}
.fss-link .wb-type-heading-m {
  color: #ffffff;
}
.fss-link:hover .wb-type-heading-m {
  color: #00adef;
}
.fss-link .wb-type-button-secondary {
  font-weight: normal;
  font-size: small;
  font-style: normal;
  color: #e5e5e5;
}

.fss-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  width: auto;
  margin: 0 auto;
  padding-bottom: 6rem;
}
@media screen and (min-width: 1024px) {
.fss-container {
    max-width: 960px;
}
}
@media screen and (max-width: 1215px) {
.fss-container.is-widescreen {
    max-width: 1152px;
}
}
@media screen and (max-width: 1407px) {
.fss-container.is-fullhd {
    max-width: 1344px;
}
}
@media screen and (min-width: 1216px) {
.fss-container {
    max-width: 1152px;
}
}
@media screen and (min-width: 1408px) {
.fss-container {
    max-width: 1344px;
}
}

.wb-button {
  overflow: visible;
  text-transform: none;
}
.wb-button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}

/* stylelint-disable declaration-no-important */
@media print {
*,
  *::before,
  *::after {
    -webkit-box-shadow: none !important;
}
*, *::before, *::after {
            box-shadow: none !important;
    text-shadow: none !important;
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
pre {
    white-space: pre-wrap !important;
}
pre,
  blockquote {
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr,
  img {
    page-break-inside: avoid;
}
p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
}
h2,
  h3 {
    page-break-after: avoid;
}
  /* stylelint-enable declaration-no-important */
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
main {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}
blockquote,
address,
big,
cite,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
time {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
}
blockquote, address, big, cite, dfn, em, ins, kbd, q, s, samp, small, strike, sub, sup, time {
  margin: 0;
}
strong {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
strong sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.15em;
}
@media (min-width: 1024px) {
strong {
      font-size: 1.125rem;
      line-height: 1.75rem;
}
strong sup {
        font-size: 9px;
        top: -1.2em;
}
}
summary::-webkit-details-marker {
  display: none;
}
fieldset {
  border: none;
  padding: 0;
}
legend {
  padding: 0;
}
button {
  margin: 0;
}
:root {
  --wb-color-highlight: #00adef;
  --wb-color-highlight--hover: #0088c6;
  --wb-color-highlight--pressed: #009ed8;
  --wb-color-highlight--outline-dark: #4a90e2;
  --wb-color-highlight--outline-light: #57cdf5;
  --wb-color-white: #ffffff;
  --wb-color-smoke: #f8f8f8;
  --wb-color-moon: #f4f4f4;
  --wb-color-asphalt: #e5e5e5;
  --wb-color-silver: #bfbfbf;
  --wb-color-noble: #999999;
  --wb-color-boulder: #767676;
  --wb-color-gunmetal: #666666;
  --wb-color-obsidian: #333333;
  --wb-color-mineshaft: #262626;
  --wb-color-black: #000000;
  --wb-color-ok: #008a00;
  --wb-color-caution: #ffbf00;
  --wb-color-error: #e1292b;
  --wb-color-co2a: #009e46;
  --wb-color-co2b: #67b633;
  --wb-color-co2c: #d2d700;
  --wb-color-co2d: #ffed00;
  --wb-color-co2e: #fdc602;
  --wb-color-co2f: #f17e04;
  --wb-color-co2g: #eb2220;
  --wb-grid-gutter-width: 1rem;
  --wb-grid-content-width: 90%;
  --wb-spacing-3xs: 0.25rem;
  --wb-spacing-xxs: 0.5rem;
  --wb-spacing-xs: 1rem;
  --wb-spacing-s: 1.5rem;
  --wb-spacing-m: 2rem;
  --wb-spacing-l: 3rem;
  --wb-spacing-xl: 4rem;
  --wb-spacing-xxl: 5rem;
  --wb-shadow-level-1: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --wb-shadow-level-2: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --wb-shadow-level-3: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 16px 24px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 480px) {
:root {
      --wb-grid-gutter-width: 1rem;
      --wb-grid-content-width: 90%;
}
}
@media (min-width: 768px) {
:root {
      --wb-grid-gutter-width: 1.5rem;
      --wb-grid-content-width: 86%;
}
}
@media (min-width: 1024px) {
:root {
      --wb-grid-gutter-width: 1.5rem;
      --wb-grid-content-width: 86%;
      --wb-spacing-xs: 1.5rem;
      --wb-spacing-s: 2rem;
      --wb-spacing-m: 3rem;
      --wb-spacing-l: 4rem;
      --wb-spacing-xl: 5rem;
      --wb-spacing-xxl: 5.5rem;
}
}
@media (min-width: 1280px) {
:root {
      --wb-grid-gutter-width: 2rem;
      --wb-grid-content-width: 86%;
}
}
@media (min-width: 1440px) {
:root {
      --wb-grid-gutter-width: 2.5rem;
      --wb-grid-content-width: 86%;
      --wb-spacing-l: 4.5rem;
      --wb-spacing-xl: 5.5rem;
      --wb-spacing-xxl: 6rem;
}
}
.wb-button {
  overflow: visible;
  text-transform: none;
}
.wb-button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
.wb-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-radius: 2px;
}
.wb-button sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.1em;
}
.wb-button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}
.wb-button__icon {
    fill: currentColor;
    height: 12px;
    width: 12px;
    overflow: hidden;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
[dir=ltr] .wb-button__icon {
  margin-right: 0.5rem;
}
[dir=rtl] .wb-button__icon {
    margin-left: 0.5rem;
}
.wb-button--large {
    padding: 15px 31px;
}
.wb-button--medium {
    padding: 11px 23px;
}
.wb-button--small {
    padding: 7px 15px;
}
.wb-button--primary {
    color: #ffffff;
    min-width: 144px;
    background-color: #00adef;
    border: 1px solid #4a90e2;
}
.wb-button--primary:focus {
      outline: 1px solid #4a90e2;
      background-color: #0088c6;
      border: 1px solid #ffffff;
}
.wb-button--primary:hover:not([disabled]) {
      transition: background-color 0.3s ease-in-out;
      background-color: #0088c6;
      -webkit-transition: background-color 0.3s ease-in-out;
}
.wb-button--primary:active:not([disabled]) {
      outline: none;
      background-color: #009ed8;
}
[dir=ltr] .wb-button--primary:active:not([disabled]) {
  -webkit-animation:  wb-button-shine-frames-primary-ltr 0.15s forwards;
  animation:  wb-button-shine-frames-primary-ltr 0.15s forwards;
}
[dir=rtl] .wb-button--primary:active:not([disabled]) {
      -webkit-animation:  wb-button-shine-frames-primary-rtl 0.15s forwards;
              animation:  wb-button-shine-frames-primary-rtl 0.15s forwards;
}
@-webkit-keyframes wb-button-shine-frames-primary-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(0%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 0%, #0088c6);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(50%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 50%, #0088c6);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(100%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 100%, #0088c6);
}
}
@-webkit-keyframes wb-button-shine-frames-primary-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(0%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 0%, #0088c6);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(50%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 50%, #0088c6);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(100%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 100%, #0088c6);
}
}
@keyframes wb-button-shine-frames-primary-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(0%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 0%, #0088c6);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(50%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 50%, #0088c6);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#0088c6), color-stop(100%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to right, #0088c6, #009ed8 100%, #0088c6);
}
}
@keyframes wb-button-shine-frames-primary-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(0%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 0%, #0088c6);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(50%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 50%, #0088c6);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#0088c6), color-stop(100%, #009ed8), to(#0088c6));
    background-image: linear-gradient(to left, #0088c6, #009ed8 100%, #0088c6);
}
}
.wb-button--primary.wb-button--theme-dark {
      border-color: #57cdf5;
}
.wb-button--secondary {
    color: #333333;
    min-width: 144px;
    background-color: transparent;
    border: 1px solid #bfbfbf;
}
.wb-button--secondary:focus {
      outline: 1px solid #00adef;
      border-color: transparent;
}
.wb-button--secondary:hover:not([disabled]) {
      transition: background-color 0.3s ease-in-out;
      background-color: #e5e5e5;
      -webkit-transition: background-color 0.3s ease-in-out;
}
.wb-button--secondary:active:not([disabled]) {
      outline: none;
      border: 1px solid #bfbfbf;
}
[dir=ltr] .wb-button--secondary:active:not([disabled]) {
  -webkit-animation:  wb-button-shine-frames-secondary-ltr 0.15s forwards;
  animation:  wb-button-shine-frames-secondary-ltr 0.15s forwards;
}
[dir=rtl] .wb-button--secondary:active:not([disabled]) {
      -webkit-animation:  wb-button-shine-frames-secondary-rtl 0.15s forwards;
              animation:  wb-button-shine-frames-secondary-rtl 0.15s forwards;
}
@-webkit-keyframes wb-button-shine-frames-secondary-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(0%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 0%, #e5e5e5);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(50%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 50%, #e5e5e5);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(100%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 100%, #e5e5e5);
}
}
@-webkit-keyframes wb-button-shine-frames-secondary-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(0%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 0%, #e5e5e5);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(50%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 50%, #e5e5e5);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(100%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 100%, #e5e5e5);
}
}
@keyframes wb-button-shine-frames-secondary-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(0%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 0%, #e5e5e5);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(50%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 50%, #e5e5e5);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#e5e5e5), color-stop(100%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to right, #e5e5e5, #f8f8f8 100%, #e5e5e5);
}
}
@keyframes wb-button-shine-frames-secondary-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(0%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 0%, #e5e5e5);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(50%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 50%, #e5e5e5);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#e5e5e5), color-stop(100%, #f8f8f8), to(#e5e5e5));
    background-image: linear-gradient(to left, #e5e5e5, #f8f8f8 100%, #e5e5e5);
}
}
.wb-button--secondary.wb-button--theme-dark {
      color: #ffffff;
      border-color: #666666;
}
.wb-button--secondary.wb-button--theme-dark:hover:not([disabled]) {
        background-color: #262626;
}
.wb-button--secondary.wb-button--theme-dark:focus:not([disabled]) {
        outline: 1px solid #00adef;
}
[dir=ltr] .wb-button--secondary.wb-button--theme-dark:active:not([disabled]) {
  -webkit-animation:  wb-button-shine-frames-secondary-dark-ltr 0.15s forwards;
  animation:  wb-button-shine-frames-secondary-dark-ltr 0.15s forwards;
}
[dir=rtl] .wb-button--secondary.wb-button--theme-dark:active:not([disabled]) {
        -webkit-animation:  wb-button-shine-frames-secondary-dark-rtl 0.15s forwards;
                animation:  wb-button-shine-frames-secondary-dark-rtl 0.15s forwards;
}
@-webkit-keyframes wb-button-shine-frames-secondary-dark-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(0%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 0%, #262626);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(50%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 50%, #262626);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(100%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 100%, #262626);
}
}
@-webkit-keyframes wb-button-shine-frames-secondary-dark-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(0%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 0%, #262626);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(50%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 50%, #262626);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(100%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 100%, #262626);
}
}
@keyframes wb-button-shine-frames-secondary-dark-ltr {
0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(0%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 0%, #262626);
}
50% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(50%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 50%, #262626);
}
100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(100%, #333333), to(#262626));
    background-image: linear-gradient(to right, #262626, #333333 100%, #262626);
}
}
@keyframes wb-button-shine-frames-secondary-dark-rtl {
0% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(0%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 0%, #262626);
}
50% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(50%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 50%, #262626);
}
100% {
    background-image: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(100%, #333333), to(#262626));
    background-image: linear-gradient(to left, #262626, #333333 100%, #262626);
}
}
.wb-button--tertiary {
    color: #00adef;
    background-color: transparent;
    border: 1px solid transparent;
}
[dir=ltr] .wb-button--tertiary.wb-button--large {
  padding-left: 23px;
  padding-right: 23px;
}
[dir=rtl] .wb-button--tertiary.wb-button--large {
      padding-right: 23px;
      padding-left: 23px;
}
[dir=ltr] .wb-button--tertiary.wb-button--medium {
  padding-left: 15px;
  padding-right: 15px;
}
[dir=rtl] .wb-button--tertiary.wb-button--medium {
      padding-right: 15px;
      padding-left: 15px;
}
[dir=ltr] .wb-button--tertiary.wb-button--small {
  padding-left: 7px;
  padding-right: 7px;
}
[dir=rtl] .wb-button--tertiary.wb-button--small {
      padding-right: 7px;
      padding-left: 7px;
}
.wb-button--tertiary:focus {
      outline: none;
      border-color: #00adef;
}
.wb-button--tertiary:hover:not([disabled]) {
      transition: background-color 0.3s ease-in-out;
      background-color: #f4f4f4;
      -webkit-transition: background-color 0.3s ease-in-out;
}
.wb-button--tertiary:active:not([disabled]) {
      outline: none;
      background-color: #f4f4f4;
}
.wb-button--tertiary.wb-button--theme-dark:hover:not([disabled]) {
      background-color: #262626;
}
.wb-button--tertiary.wb-button--theme-dark:active:not([disabled]) {
      background-color: #262626;
}
.wb-button--with-icon {
    min-width: 55px;
    height: 3rem;
    color: #333333;
    padding: 0;
    background-color: transparent;
    border: 1px solid #bfbfbf;
}
.wb-button--with-icon:focus {
      outline: 1px solid #00adef;
      border: none;
}
.wb-button--with-icon:hover:not([disabled]) {
      transition: background-color 0.3s ease-in-out;
      background-color: #e5e5e5;
      -webkit-transition: background-color 0.3s ease-in-out;
      cursor: pointer;
}
.wb-button--with-icon:active:not([disabled]) {
      outline: none;
      border: 1px solid #bfbfbf;
}
.wb-button--with-icon .wb-button__icon {
      width: 1rem;
      height: 1rem;
      margin: 0;
}
.wb-card--white {
  -webkit-box-shadow: var(--wb-shadow-level-1);
  background: #ffffff;
          box-shadow: var(--wb-shadow-level-1);
}
.wb-card--smoke {
  -webkit-box-shadow: var(--wb-shadow-level-1);
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
          box-shadow: var(--wb-shadow-level-1);
}
.wb-card--obsidian {
  color: #ffffff;
  background: #262626;
  border: 1px solid #333333;
}
.wb-tag {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.3px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 288px;
  padding: 0.25rem 12px;
  padding: var(--wb-spacing-3xs) 12px;
  border-radius: 12px;
}
.wb-tag sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -0.8em;
}
.wb-tag--primary {
    color: #ffffff;
    border: 1px solid #00adef;
    background-color: #00adef;
}
.wb-tag--secondary {
    color: #ffffff;
    border: 1px solid #262626;
    background-color: #262626;
}
.wb-tag--secondary.wb-tag--theme-dark {
      color: #262626;
      border: 1px solid #ffffff;
      background-color: #ffffff;
}
.wb-tag--tertiary {
    color: #767676;
    border: 1px solid #767676;
}
.wb-tag--tertiary.wb-tag--theme-dark {
      color: #999999;
      border: 1px solid #999999;
}
.wb-visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
}
.wb-skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  margin: 0;
}
.wb-skip-link:focus {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: inherit;
    font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.025em;
    display: inline-block;
    width: auto;
    height: auto;
    clip: initial;
    outline: 1px solid;
    color: currentColor;
    margin: 0.25rem;
    margin: var(--wb-spacing-3xs);
    padding: 0.25rem;
    padding: var(--wb-spacing-3xs);
}
.wb-skip-link:focus sup {
      position: relative;
      vertical-align: baseline;
      line-height: 0;
      font-size: 9px;
      top: -1.1em;
}
@font-face {
  font-family: 'MBCorpo Title';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoATitleCond-Regular-Web.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoATitleCond-Regular-Web.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/MBCorpoATitleCond-Regular-Web.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/MBCorpoATitleCond-Regular-Web.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/MBCorpoATitleCond-Regular-Web.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/MBCorpoATitleCond-Regular-Web.svg#MBCorpoATitleCond-Regular-Web") format("svg");
}
@font-face {
  font-family: 'MBCorpo Text';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoSText-Regular-Web.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoSText-Regular-Web.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/MBCorpoSText-Regular-Web.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/MBCorpoSText-Regular-Web.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/MBCorpoSText-Regular-Web.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/MBCorpoSText-Regular-Web.svg#MBCorpoSText-Regular-Web") format("svg");
}
@font-face {
  font-family: 'MBCorpo Text';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoSText-Bold-Web.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/MBCorpoSText-Bold-Web.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/MBCorpoSText-Bold-Web.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/MBCorpoSText-Bold-Web.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/MBCorpoSText-Bold-Web.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/MBCorpoSText-Bold-Web.svg#MBCorpoSText-Bold-Web") format("svg");
}
@font-face {
  font-family: 'DaimlerCAC-Regular';
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCAC-Regular.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCAC-Regular.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/DaimlerCAC-Regular.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/DaimlerCAC-Regular.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/DaimlerCAC-Regular.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/DaimlerCAC-Regular.svg#DaimlerCAC-Regular") format("svg");
}
@font-face {
  font-family: 'DaimlerCS-Regular';
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCS-Regular.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCS-Regular.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/DaimlerCS-Regular.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/DaimlerCS-Regular.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/DaimlerCS-Regular.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/DaimlerCS-Regular.svg#DaimlerCS-Regular") format("svg");
}
@font-face {
  font-family: 'DaimlerCACArab-Regular';
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCACArab-Regular.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCACArab-Regular.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/DaimlerCACArab-Regular.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/DaimlerCACArab-Regular.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/DaimlerCACArab-Regular.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/DaimlerCACArab-Regular.svg#DaimlerCAC-Regular") format("svg");
}
@font-face {
  font-family: 'DaimlerCSArab-Regular';
  font-display: swap;
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCSArab-Regular.eot");
  src: url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/EOT/DaimlerCSArab-Regular.eot?#iefix") format("embedded-opentype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF2/DaimlerCSArab-Regular.woff2") format("woff2"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/WOFF/DaimlerCSArab-Regular.woff") format("woff"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/TTF/DaimlerCSArab-Regular.ttf") format("truetype"), url("https://assets.oneweb.mercedes-benz.com/plugin/workbench/fonts/1.4.0/SVG/DaimlerCSArab-Regular.svg#DaimlerCS-Regular") format("svg");
}
.wb-type-heading-xxl {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Title', 'DaimlerCAC-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.5rem;
}
.wb-type-heading-xxl sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 0.3em;
    top: -1.9em;
}
@media (min-width: 1024px) {
.wb-type-heading-xxl {
      font-size: 4.5rem;
      line-height: 5rem;
}
.wb-type-heading-xxl sup {
        font-size: 0.21em;
        top: -2.8em;
}
}
.wb-type-heading-xl {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Title', 'DaimlerCAC-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3rem;
}
.wb-type-heading-xl sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 0.3em;
    top: -2em;
}
@media (min-width: 1024px) {
.wb-type-heading-xl {
      font-size: 4rem;
      line-height: 4.5rem;
}
.wb-type-heading-xl sup {
        font-size: 0.21em;
        top: -2.75em;
}
}
.wb-type-heading-l {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Title', 'DaimlerCAC-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.5rem;
}
.wb-type-heading-l sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 0.3em;
    top: -2.2em;
}
@media (min-width: 1024px) {
.wb-type-heading-l {
      font-size: 3rem;
      line-height: 3.75rem;
}
.wb-type-heading-l sup {
        font-size: 0.26em;
        top: -2.3em;
}
}
.wb-type-heading-m {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Title', 'DaimlerCAC-Regular', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 2rem;
}
.wb-type-heading-m sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.8em;
}
@media (min-width: 1024px) {
.wb-type-heading-m {
      font-size: 2.125rem;
      line-height: 2.75rem;
}
.wb-type-heading-m sup {
        font-size: 0.3em;
        top: -2.1em;
}
}
.wb-type-heading-s {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.wb-type-heading-s sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.5em;
}
@media (min-width: 1024px) {
.wb-type-heading-s {
      font-size: 1.5rem;
      line-height: 2.25rem;
}
.wb-type-heading-s sup {
        font-size: 9px;
        top: -1.8em;
}
}
.wb-type-heading-xs {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.wb-type-heading-xs sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.35em;
}
@media (min-width: 1024px) {
.wb-type-heading-xs {
      font-size: 1.25rem;
      line-height: 1.75rem;
}
.wb-type-heading-xs sup {
        font-size: 9px;
        top: -1.4em;
}
}
.wb-type-copy {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wb-type-copy sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.15em;
}
@media (min-width: 1024px) {
.wb-type-copy {
      font-size: 1.125rem;
      line-height: 1.75rem;
}
.wb-type-copy sup {
        font-size: 9px;
        top: -1.2em;
}
}
.wb-type-copy-strong {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wb-type-copy-strong sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.15em;
}
@media (min-width: 1024px) {
.wb-type-copy-strong {
      font-size: 1.125rem;
      line-height: 1.75rem;
}
.wb-type-copy-strong sup {
        font-size: 9px;
        top: -1.2em;
}
}
.wb-type-copy-secondary {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.wb-type-copy-secondary sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -0.95em;
}
@media (min-width: 1024px) {
.wb-type-copy-secondary {
      font-size: 1rem;
      line-height: 1.5rem;
}
.wb-type-copy-secondary sup {
        font-size: 9px;
        top: -1.1em;
}
}
.wb-type-copy-tertiary {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.0125em;
}
.wb-type-copy-tertiary sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -0.9em;
}
@media (min-width: 1024px) {
.wb-type-copy-tertiary {
      font-size: 0.875rem;
      line-height: 1.25rem;
}
.wb-type-copy-tertiary sup {
        font-size: 9px;
        top: -0.9em;
}
}
.wb-type-hint {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01875em;
}
.wb-type-hint sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -0.8em;
}
.wb-type-hint-strong {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.3px;
}
.wb-type-hint-strong sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -0.8em;
}
.wb-type-button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
}
.wb-type-button sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.1em;
}
.wb-type-button-secondary {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0125em;
}
.wb-type-button-secondary sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1em;
}
.wb-type-label {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: inherit;
  font-family: 'MBCorpo Text', 'DaimlerCS-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wb-type-label sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 9px;
    top: -1.1em;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fss-text-centered {
  text-align: center !important;
}
.fss-text-white {
  color: #ffffff;
}
.fss-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#fssApp {
  min-height: 1000px !important;
  height: 100% !important;
}
#fssApp.fss-page {
    background-color: black;
    padding-top: 4rem;
    padding-top: var(--wb-spacing-xl);
}
@media (max-width: 1023.98px) {
#fssApp.fss-page {
        padding: 0 1rem;
        padding-top: 4rem;
        padding-top: var(--wb-spacing-xl);
}
}

