.jumbotron {
  padding-top: 65px;
  background-color: yellow;
}
.jumbotron img {
  transition: 1s;
}
.jumbotron img:hover {
  transform: scale(1.2);
}
.jumbotron .display-4 {
  text-shadow: 3px 2px 4px black;
}
.footer {
  padding: 7px;
  background-color: yellow;
}
.footer .copy {
  text-align: center;
  color: black;
}
.copy a {
  text-decoration: none;
  color: black;
}
.copy a:hover {
  text-decoration: underline;
  color: red;
}
@media only screen and (max-width: 620px) {
  .container .col-5 .card .col-md-3 {
    width: 100%;
  }
}
